body {
  background-color: white;
}

.wlc {
  text-align: center;
}

#info {
  border: 1px solid black;
  width: 400px;
  padding: 50px;
  text-align: center;
  margin: auto;
}

.web, .demo {
  text-align: center;
}

.webd {
  height: 300px;
  width: 500px;
}
