body {
  background-color: white;
}

.wlc {
  text-align: center;
}

#info {
  border: 1px solid white;
  width: 400px;
  padding: 50px;
  text-align: center;
  margin: auto;
}

.web, .demo, .italian {
  text-align: center;
}

.carousel {
  height: auto;
  width: 100%;
}
